@use './sections/about-me';
@use './sections/contact-me';
@use './sections/footer';
@use './sections/intro';
@use './sections/nav';
@use './sections/testimonial';

@use '../css/utils.general.css' as *;
@use '../css/utils.display.css' as *;
@use '../css/utils.sizing.css' as *;
@use '../css/utils.spacing.css' as *;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --clr-white: rgb(255, 255, 255);
  --clr-white-smoke: rgb(208, 218, 224);
  --clr-gray-shadow: rgb(183, 183, 183);
  --clr-gray-shadow-inset: rgb(226, 226, 226);  
  --clr-light-gray: rgba(244, 251, 213, 0.229);
  --clr-grey: rgb(42, 42, 42);
  --clr-blue: rgb(29, 37, 57);
  --clr-red-light: rgb(227, 31, 20);
  --clr-red: rgb(254, 59, 50);

  --transition: all 300ms ease-in-out;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  font-family: 'Work Sans', sans-serif;
  background: var(--clr-white-smoke);
  color: var(--clr-grey);
  line-height: 1.7em;
  background: var(--clr-light-gray);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  margin: 150px auto 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

h2.title {
  color: var(--clr-blue);
}

h1.title,
h3.subtitle {
  color: var(--clr-red);
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 1.1rem;
  color: var(--clr-grey)
}

.text-light {
  color: var(--clr-red);
}

.text-primary {
  color: var(--clr-blue);
}

a {
  color: var(--clr-blue);
  transition: var(--transition);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--clr-blue);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  border: .2px solid var(--clr-red);
  cursor: pointer;
  transition: var(--transition);
  font-size: 1rem;
  box-sizing: content-box;
  -webkit-box-shadow: 2px 2px 2px 0px var(--clr-gray-shadow);
  -moz-box-shadow: 2px 2px 2px 0px var(--clr-gray-shadow);
  -o-box-shadow: 2px 2px 2px 0px var(--clr-gray-shadow);
  box-shadow: 2px 2px 2px 0px var(--clr-gray-shadow);
}

.btn:hover {
  background: var(--clr-white);
  border: .2px solid var(--clr-gray-shadow-inset);
  color: var(--clr-red);
  -webkit-box-shadow: inset 3.5px 2.5px 10px 1px var(--clr-gray-shadow-inset);
  -moz-box-shadow: inset 3.5px 2.5px 10px 1px var(--clr-gray-shadow-inset);
  -o-box-shadow: inset 3.5px 2.5px 10px 1px var(--clr-gray-shadow-inset);
  box-shadow: inset 3.5px 2.5px 10px 1px var(--clr-gray-shadow-inset);
}

.btn-primary {
  background-color: var(--clr-blue);
  border: .2px solid var(--clr-blue);
  color: var(--clr-white);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.small-card {
  width: 100%;
  background: var(--clr-red);
  color: var(--clr-blue);
  border: 1px solid;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  text-align: center;
  transition: var(--transition);
  -webkit-box-shadow: 1px 1px 1px 0px var(--clr-gray-shadow);
  -moz-box-shadow: 1px 1px 1px 0px var(--clr-gray-shadow);
  -o-box-shadow: 1px 1px 1px 0px var(--clr-gray-shadow);
  box-shadow: 1px 1px 1px 0px var(--clr-gray-shadow);

  &_icon {
    color: var(--clr-white);
    font-size: 1.4rem;
  }

  small {
    font-size: 1rem;
    color: var(--clr-white);
  }

  &:hover {
    background-color: transparent;
    border-color: var(--clr-red);

    .small-card_icon, small {
      color: var(--clr-blue);
    }

    h4 {
      color: var(--clr-red);
    }
  }
}

.tabs-component {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;

  &_button {
    background: transparent;
    color: var(--clr-blue);
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: var(--transition);
    font-size: 1rem;
    border: 1px solid transparent;
  }

  &_button.active,
  &_button:hover {
    background: var(--clr-red-light);
    color: var(--clr-white);
    border: 1px solid var(--clr-red-light);
  }
}

.lang-selector {
  &_btn {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 5px 10px;

    img {
      width: .85rem;
      max-width: 15px;
      height: .85rem;
      max-height: 15px;
      box-sizing: border-box;
    }
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    display: none;
  }

  section {
    margin: 100px auto 0;
  }
}