.contatti__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contatti__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: -100px;
}

.contatti__option {
    background: var(--color-bg-variant);
    color: #FFF;
    border: 1px solid;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    -webkit-box-shadow: 5px 5px 31px 9px #B7B7B7;
    -moz-box-shadow: 5px 5px 31px 9px #B7B7B7;
    -o-box-shadow: 5px 5px 31px 9px #B7B7B7;
    box-shadow: 5px 5px 31px 9px #B7B7B7;
}

.contatti__option:hover {
    background: transparent;
    color: var(--color-bg-variant);
    -webkit-box-shadow: inset 5px 0px 19px 5px #E2E2E2;
    -moz-box-shadow: inset 5px 0px 19px 5px #E2E2E2;
    -o-box-shadow: inset 5px 0px 19px 5px #E2E2E2;
    box-shadow: inset 5px 0px 19px 5px #E2E2E2;
}

.contatti__option-icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.contatti__option>a {
    color: var(--color-primary);
    font-size: 1rem;
    transition: var(--transition);
    text-decoration: underline;
}

.contatti__option>a:hover {
    color: var(--color-bg-variant);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
    color: var(--color-white);
}

.form__button {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    background-color: #FFF;
    -webkit-box-shadow: 5px 5px 31px 9px #B7B7B7;
    -moz-box-shadow: 5px 5px 31px 9px #B7B7B7;
    -o-box-shadow: 5px 5px 31px 9px #B7B7B7;
    box-shadow: 5px 5px 31px 9px #B7B7B7;
}

.form__button:hover {
    background: #FFF;
    color: var(--color-light);
    border: 1px solid var(--color-light);
}

@media screen and (max-width: 1024px) {

    .contatti__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 600px) {

    .contatti__container {
        width: var(--container-width-sm);
    }

    .form button {
        display: flex;
    }
}