.chi-sono__container {
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 10%;
}

.chi-sono__cards {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.chi-sono__card {
  background: var(--color-bg-variant);
  color: #FFF;
  border: 1px solid;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
  -webkit-box-shadow: 5px 5px 31px 9px #B7B7B7;
  -moz-box-shadow: 5px 5px 31px 9px #B7B7B7;
  -o-box-shadow: 5px 5px 31px 9px #B7B7B7;
  box-shadow: 5px 5px 31px 9px #B7B7B7;
}

.chi-sono__card:hover {
  background: transparent;
  color: var(--color-bg-variant);
  -webkit-box-shadow: inset 5px 0px 19px 5px #E2E2E2;
  -moz-box-shadow: inset 5px 0px 19px 5px #E2E2E2;
  -o-box-shadow: inset 5px 0px 19px 5px #E2E2E2;
  box-shadow: inset 5px 0px 19px 5px #E2E2E2;
}

.chi-sono__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}


.chi-sono__card small {
  font-size: 1rem;
  color: #2a2a2a;
}

.chi-sono__text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 1rem 0;
  color: #2a2a2a;
}

@media screen and (max-width: 1024px) {

  .chi-sono__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .chi-sono__contenuto {
    padding: 5rem 4rem 1rem 4rem;
  }

}

@media screen and (max-width: 600px) {

  .chi-sono__cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .chi-sono__contenuto {
    text-align: center;
    padding: 5rem 0rem 1rem 0rem;
  }

  .chi-sono__text {
    padding: 0rem 2rem 1rem 2rem;
    margin: 1.5rem 0;
  }
}