.logo__section {
  display: flex;
  height: 50px;
  padding: 0 3rem;
  overflow: visible;
  align-items: center;
  background: rgb(29, 37, 57);
  background: linear-gradient(180deg, rgba(29, 37, 57, 1) 80%, rgba(208, 218, 224, 1) 100%);
  -webkit-box-shadow: 5px 5px 31px 9px #B7B7B7;
  -moz-box-shadow: 5px 5px 31px 9px #B7B7B7;
  -o-box-shadow: 5px 5px 31px 9px #B7B7B7;
  box-shadow: 5px 5px 31px 9px #B7B7B7;
}

.logo__section > img {
  width: 100px;
  display: block;
  margin-left: auto;
  filter: drop-shadow(5px 5px 10px #000);
}

@media screen and (max-width: 997px) {
  .logo__section {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .logo__section {
    margin-top: -182px;
    padding: 0 0;
    position: relative;
    z-index: 2;
  }
}