footer {
  background: var(--clr-blue);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}

footer a {
  color: #fff;
}

.footer_name {
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer_socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer_socials a {
  background: var(--clr-white-smoke);
  color: var(--clr-red);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer_socials a:hover {
  background: transparent;
  color: var(--clr-white-smoke);
  border-color: var(--clr-white-smoke);
}

.footer_copyright {
  margin-bottom: 5rem;
  color: var(--clr-white-smoke);
}

.footer_me {
  width: 20%;
  aspect-ratio: 1/1;
  background: linear-gradient(45deg, transparent, var(--clr-blue), transparent);
  display: inline-block;
  border-radius: 360px;
  overflow: hidden;
  transition: var(--transition);
  margin-left: 2rem;
}


.footer_me:hover {
  transform: rotate(1deg);
}

.footer_bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {

  .footer_me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
}

@media screen and (max-width: 600px) {

  .footer_me {
    width: var(--container-width-lg);
    margin: 0 auto 3rem auto;

  }

  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer_socials {
    margin-bottom: 2.6rem;
  }
}