nav {
  width: max-content;
  max-width: 100%;
  display: flex;
  position: fixed;
  padding: 0.7rem 1.7rem;
  transform: translateX(-50%);
  left: 50%;
  bottom: 2rem;
  gap: 0.8rem;
  z-index: 999;
  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);


  a {
    background: transparent;
    padding: 0.4rem;
    border-radius: 25%;
    display: flex;
    color: var(--clr-red);
    font-size: 1.5rem;
  }

  a.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  a.active {
    background: var(--clr-blue);
    color: var(--clr-white-smoke);
  }
}

@media screen and (min-width: 768px) {
  a:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}