.testimonials {
  overflow: visible;
  height: 400px;

  &_container {
    display: flex;
    align-items: center;
    justify-content: center;

    &_slider {
      padding: 0 10rem !important;

      &_slide {
        background: var(--clr-white);
        text-align: center;
        padding: 2rem;
        border-radius: 2rem;
        user-select: none;
        border: 1px solid;
        border-color: var(--clr-red);
        transition: var(--transition);
        -webkit-box-shadow: 2px 2px 2px 0px var(--clr-gray-shadow);
        -moz-box-shadow: 2px 2px 2px 0px var(--clr-gray-shadow);
        -o-box-shadow: 2px 2px 2px 0px var(--clr-gray-shadow);
        box-shadow: 2px 2px 2px 0px var(--clr-gray-shadow);

        &_avatar {
          width: 4rem;
          aspect-ratio: 1/1;
          overflow: hidden;
          border-radius: 90px;
          margin: 0 auto 1rem;
          border: 0.4rem solid var(--clr-red);
        }

        &_review {
          color: var(--clr-red);
          font-weight: 300;
          display: block;
          width: 80%;
          margin: 0.8rem auto 0;
        }
      }

      .swiper-pagination-clickable {
        margin-top: 20px;
        position: relative !important;
      }

      .swiper-pagination-clickable .swiper-pagination-bullet {
        background: var(--clr-blue);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .testimonials {
    margin: 150px auto 250px;

    &_container {

      &_slider {
        width: 100%;
        padding: 0 10% !important;
      }
    }
  }
}